<!DOCTYPE html>
<html>

<head>
<title>OurBook</title>
<link rel="shortcut icon" href="/favicon.ico" type="/sataic/image/x-icon">
<link rel="icon" href="/static/favicon.ico" type="/static/image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements"/>
<link href="/static/css/mystyle.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
	<div class="padding-all">
			<img src="/static/img/logo_transparent.png" width="30%">

		<div class="design-w3l">
			<div class="mail-form-agile">
				<form action="{% url 'login' %}" method="post">
					{% csrf_token %}
					<input type="text" name="username" autofocus required id="id_username">
					<input type="password" name="password" required id="id_password">
					<br/><br/>
					<input type="submit" value="login">
				</form>
				<br/>
				<a href="{% url 'register' %}">회원가입</a>
			</div>
		  <div class="clear"> </div>
		</div>
		
	</div>
</body>
</html>